@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
   background: #c8c1d6;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
#home {
  width:100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
#discover {
  width:100%;
  height: 48em;
}
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #1a1a1a;
  padding: 2px;
  font-size: 105%;
}

#avatar {
  border-radius: 100%;
  width: 30px;
}
#nav {
  position: fixed;
  bottom:0;
  right:0;
  padding: 10px;
}